{% extends "base.html" %} {% block title %}Login Page{% endblock %} {% block
content %}
<div class="d-inline-flex p-2 bd-highlight">
  <form action="#" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        class="form-control"
        type="text"
        name="nm"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    
    <button type="submit" value="submit" class="btn btn-primary">Login</button>
  </form>
  </div>
  {% endblock %}
</div>
